<!DOCTYPE html>
<html>
<head>
    <title>Rogmax-test-task</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="testApp">
    <div class="wrapper">
        <div class="container-fluid" ng-controller="tableController">
            <!-- /.row -->
            <section class="user-card panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Додати нову органiзацiю</h3>
                </div>  `
                <form action="#" method="post" accept-charset="utf-8">
                    <table class="table panel-body">
                        <tbody>
                            <tr>
                                <td class="col-lg-4 col-md-4">Назва:</td>
                                <td>
                                    <input type="text" class="col-lg-12 col-md-12 col-sm-12" ng-model="newOrganization.name" placeholder="Назва" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Код Єдрпоу:</td>
                                <td>
                                    <input type="text" class="col-lg-12 col-md-12 col-sm-12" ng-model="newOrganization.id" placeholder="Код Єдрпоу" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Дата реєстрації:</td>
                                <td>
                                    <input type="date" class="col-lg-12 col-md-12 col-sm-12" ng-model="newOrganization.registrationDate" required>
                                </td>
                            </tr>
                            <tr>
                                <td>Адреса реєстрації:</td>
                                <td>
                                    <textarea class="col-lg-12 col-md-12 col-sm-12" ng-model="newOrganization.registrationAddress" placeholder="Адреса реєстрації" required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary col-lg-12 col-md-12 col-sm-12 add-button" ng-click="addNewOrganization()">Додати</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </section>

            <div class="row">
                <div class="col-lg-4 col-md-4">

                    <section class="user-card panel panel-default">
                        <div class="name panel-heading">
                            <h3 class="panel-title">Iнформацiя про органiзацiю</h3>
                        </div>
                        <table class="table panel-body">
                            <tbody>
                                <tr>
                                    <td>Назва:</td>
                                    <td>
                                        <input class="col-lg-12 col-md-12 col-sm-12" type="text" value="selectedItem.name" ng-model="selectedItem.name">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Код Єдрпоу:</td>
                                    <td>
                                        <input type="text" class="col-lg-12 col-md-12 col-sm-12" value="selectedItem.id" ng-model="selectedItem.id" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Дата реєстрації:</td>
                                    <td>
                                        <input type="text" class="col-lg-12 col-md-12 col-sm-12" value="selectedItem.registrationDate" ng-model="selectedItem.registrationDate">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Адреса реєстрації:</td>
                                    <td>
                                        <textarea class="col-lg-12 col-md-12 col-sm-12" ng-model="selectedItem.registrationAddress">{{ selecteditem.registrationAddress }}</textarea>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-danger col-lg-12 col-md-12 col-sm-12" ng-click="removeOrganization()">Видалити</button>
                                </td>
                                <td>
                                    <button class="btn btn-success col-lg-12 col-md-12 col-sm-12" ng-click="changeOrganizationData()">Змiнити</button>
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>
                <div class="col-lg-8 col-md-8" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Список органiзацiй</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" ng-if="organizationsStorage" ng-model="organizationsStorage">
                                <table class="table  table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <!-- <th>id</th> -->
                                            <th>Назва</th>
                                            <th>Код Єдрпоу</th>
                                            <th>Дата реєстрації</th>
                                            <th>Адреса реєстрації</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in organizationsStorage"
                                            ng-click="getSelectedItem(item)">
                                            <td class="item-value">
                                                {{item.name}}
                                            </td>
                                            <td>
                                                {{item.id}}
                                            </td>
                                            <td>
                                                {{item.registrationDate | date: "dd-MM-yyyy"}}
                                            </td>
                                            <td>
                                                {{item.registrationAddress}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="organizationsStorage.length == 0" ng-model="organizationsStorage">Have no data</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
        <!-- /#page-wrapper -->
    <script src="vendors/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>